body {
  height: 97vh;
  background-color: #fff0db;
  background-image: url(../images/lfz-background.jpg);
}

.container {
  height: 100%;
}

.header {
  height: 50px;
  justify-content: center;
  font-size: xx-large;
  font-weight: 900;
}

#gameCards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 6);
  height: 100%;
}

aside {
  height: 25%;
}

.background {
  margin: 7px 2px;
  position: relative;
}

.center {
  text-align: center;
}

.stats {
  background-color: skyblue;
  margin: 7px 20px;
  padding: 20px 1px;
  text-align: center;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back {
  background-image: url(../images/lfz-card.jpg);
}

.js-logo {
  background-image: url(../images/js-logo.png);
}

.css-logo {
  background-image: url(../images/css-logo.png);
}

.docker-logo {
  background-image: url(../images/docker-logo.jpg);
}

.gitHub-logo {
  background-image: url(../images/gitHub-logo.png);
}

.html-logo {
  background-image: url(../images/html-logo.png);
}

.mysql-logo {
  background-image: url(../images/mysql-logo.jpg);
}

.node-logo {
  background-image: url(../images/node-logo.png);
}

.php-logo {
  background-image: url(../images/php-logo.jpeg);
}

.react-logo {
  background-image: url(../images/react-logo.png);
}

.modal{
  padding: 86px
}

.modal,
.modal-two {
  position: fixed;
  top: 31%;
  left: 36%;
  background-color: blue;
  font-size: 25px;
}

.modal-two {
  text-align: center;
  padding: 50px;
}

.replay {
  padding: 25px;
  font-size: 15px;
}

.button-style {
  text-align: center;
  margin-top: 50px;
}

.hidden {
  display: none;
}
