body {
  height: 97vh;
}

img {
  height: 100%;
}

.intro{
  display: inline-block;
  text-align: center;
}

.happy {
  background-image: url(../images/Happy.png);
  background-size: cover;
}

#text-read {
  border: 1px solid black;
  width: 300px;
  height: 50px;
  position: absolute;
  bottom: 400px;
  line-height: 20px;
}

#start-game {
  position: absolute;
  bottom: 300px;
  right: 625px;
}

.container {
  height: 100%;
}

.header {
  font-family: 'Bangers', cursive;
  height: 50px;
  justify-content: center;
  font-size: 55px;
  font-weight: 900;
}

#gameCards {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 6);
  height: 100%;
}

aside {
  height: 25%;
}

.background {
  margin: 7px 2px;
  position: relative;
}

.center {
  text-align: center;
}

.stats {
  font-family: 'Bangers', cursive;
  background-color: #ff00ff;
  margin: 7px 20px;
  padding: 20px 1px;
  text-align: center;
}

.card-front, .card-back, .card-back-two, .card-back-three,
.card-back-four, .card-back-five {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.card-back-five{
  background-image: url(../images/sad-face.png);
}

.card-back-four {
  background-image: url(../images/sadish-face.png)
}

.card-back-three {
  background-image: url(../images/ok-face.png);
}

.card-back-two {
  background-image: url(../images/270-2709350_smiley-face-black-and-white-laughing-stick-figure.png);
}

.card-back {
  background-image: url(../images/152-1529091_happy-smile-png-smiley-face-icon-png.png);
}

.listen-to-music {
  background-image: url(../images/listen-to-music.jpg);
}

.drink-water {
  background-image: url(../images/drink-water.png);
}

.exercise {
  background-image: url(../images/exercise.png);
}

.date {
  background-image: url(../images/date.png);
}

.talking-to-friends {
  background-image: url(../images/talking-to-friends.png);
}

.being-creative {
  background-image: url(../images/being-creative.jpg);
}

.enjoy-the-world {
  background-image: url(../images/enjoy-the-world.jpg);
}

.puppies {
  background-image: url(../images/puppies.jpg);
}

.being-weird {
  background-image: url(../images/being-weird.jpg);
}

.modal{
  width: 100%;
  height: 50%;
  line-height: 50px;
  background-color: #8F00FF;
  color: cyan;
  text-shadow: 2px 2px darkblue;
  font-size: 25px;
}

.modal,
.modal-two {
  position: fixed;
  top: 25%;
  text-align: center;
  font-family: 'Bangers', cursive;
}

.modal-two {
  font-family: 'La Belle Aurore', cursive;
  background-color: #483D8B;
  width: 100%;
  height: 58%;
  line-height: 90px;
  text-shadow: 1px 1px grey;
  font-size: 50px;
}

.replay {
  background-color: white;
  border: 5px solid cyan;
  padding: 15px 50px;
  font-size: 20px;
  border-radius: 15px;
}

.replay-two {
  background-color: white;
  border: 5px solid black;
  padding: 15px 50px;
  font-size: 19px;
  border-radius: 15px;
}

.button-style {
  text-align: center;
  margin-top: 50px;
}

.hidden {
  display: none;
}
